<input type="hidden" name="date" value="{{current_date|date:'Y-m-d'}}">
<p class="d-flex justify-content-between">Rent <input type="number" name="rent" placeholder="Rent/day" style="background-color: white;width: 120px;" class="text-center rounded-md border-1 "/></p>
<p class="d-flex justify-content-between">Logistics <input type="number" name="log" placeholder="Logistics/day" style="background-color: white;width: 120px;" class="text-center rounded-md border-1 "/></p>
<p class="d-flex justify-content-between">PayRoll <input type="number" name="pay" placeholder="PayRoll/day" style="background-color: white;width: 120px;" class="text-center rounded-md border-1 "/></p>
<p class="d-flex justify-content-between">machinery & Electric <input type="number" name="elec" placeholder="Electric/day" style="background-color: white;width: 120px;" class="text-center rounded-md border-1 "/></p>
<p class="d-flex justify-content-between">Overtime <input type="number" name="over" placeholder="Overtime/day" style="background-color: white;width: 120px;" class="text-center rounded-md border-1 "/></p>
