<form class="input-group mt-4"  role="search" id="searchform" action="{% url 'item_search_list_view' %}" method="get" accept-charset="utf-8">
    {%if request.GET%}
    <i id="clearget" style="cursor: pointer;" class="d-flex align-items-center fa fa-close border-0 rounded-pill shadow-sm p-1 px-2 me-2"></i>
{%endif%}
    <input id="searchbox" name="q" type="text" class="form-control border-0 rounded-pill shadow-sm" placeholder="Search ...">
    <button class="btn btn-outline-success rounded-pill shadow-sm" type="submit">
        <i class="fa-solid fa-search"></i>
    </button>
</form>